.RGKSpeedDial {
  position: fixed;
  left: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}

.RGKSpeedDial_MenuButton {
  transition: transform 0.3s ease-in-out;
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}

.RGKSpeedDial_MenuButton:hover {
  transform: rotate(45deg);
}

.RGKSpeedDial_ItemList {
  padding: 0;
  margin: 0;
  position: relative;
  width: max-content;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.RGKSpeedDial_Item {
  height: 50px;
  max-width: 300px;
  width: 100%;
  display: flex;
  align-items: center;
}

.RGKSpeedDial_Item__selected {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.RGKSpeedDial_Item__non_selected {
    background-color: var(--color-white);
    color: var(--color-blue);
}
