.Dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.Dashboard_SmallCards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.Dashboard_BigCards {
  display: flex;
  gap: 20px;
}

