.Dashboard {
  display: flex;
  gap: 20px;
  width: 100%;
  position: relative;
  max-width: 100%;
}

.Dashboard > div {
  max-width: 49.5%;
}

@media (max-width: 1200px) {
  .Dashboard {
    flex-wrap: wrap;
  }

  .Dashboard > div {
    max-width: none;
  }
}