.Reports {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  position: relative;
  padding: 10px 20px;
}

.Reports_Controls {
  display: flex;
  justify-content: space-between;
}

.Reports_Selector {
  background-color: var(--color-gray_bg);
  min-width: 300px;
}

@media (max-width: 660px) {
  .Reports_Controls {
    flex-direction: column;
    gap: 20px;
  }
}
