.Analytics {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Analytics_Cards {
  display: flex;
  gap: 20px;
}

@media (max-width: 1200px) {
  .Analytics_Cards {
    flex-direction: column;
  }
}
